header {
   
    width: 100%;
    padding: 0.75rem;
  }
  
  header > .container {
    width: 100%;
    max-width: 996px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary);
  }
  .container > h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(41, 52, 53);
    margin-left: 30px;
  }
  